/* GLOBAL */
html{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial",sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  background-color: black;
  color: black;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;

}

.main-content{
  flex-grow: 1;
}

.account-container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-setting-wrapper {
  width: 500px;
  background-color: gold;
  box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.account-setting-header {
  display: flex;
  align-items: center;
  padding: 60px 40px ;
}

.account-setting-heading {
  margin: 0;
  margin-right: auto;
}

.close-link {
  display: block;
  opacity: 0.6;
}

.close-link:hover{
  opacity: 0.8;
}

.close-link:active{
  opacity: 1;
}

.close-img {
  display: block;
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.account-settings-content {
  position: relative;
  left: 40px;
  background-color: #fff;
  padding: 60px 30px;
  box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.avatar-img {
  position: absolute;
  top: 0;
  left: 30px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  transform: translateY(-50%);
}

.account-settings-group{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.account-settings-group:not(:last-child) {
  margin-bottom: 30px;
}

.name-content{
display: flex;
}

.name-content:not(:last-child){
  margin-bottom: 30px;
}

.name-content .account-settings-group{
  width: 50%;
  margin-bottom: 0;
}

.account-settings-label {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #555;
}

.account-settings-input {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgb(158, 158, 158, 0.5);
}

.account-settings-input:focus{
 outline: none;
}

.textarea-field{
  min-height: 100px;
  resize: vertical;
}


.button-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 60px 40px ;
}

.button{
  font-size: 20px;
  font-weight: 600;
  opacity: 0.6;
  background-color: transparent;
  border: none;
}

.button:hover{
  opacity: 0.8;
}

.button:active{
  opacity: 1;
}